/* no veo mejoras para este archivo */
.login_form {
  border: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login_form input {
  margin: 10px 0;
}

.login_form button {
  margin: 10px 0;
}
